@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 768px;
    margin: 40px auto;
    font-family: "Montserrat", sans-serif;
    background-color: hsl(340, 100%, 75%);
    color: hsl(340, 100%, 8%);
    font-size: 20px;
}
h1, h2{
    font-weight: 300;
    margin-bottom: 40px;
}
#cajaTexto{
    background-color: hsl(340, 100%, 8%);
    color: hsl(340, 100%, 75%);
    font-size: 24px;
    padding: 8px 20px;
    border-radius: 12px;
}
a{text-decoration: none;}

#botones{
    margin-bottom: 32px;
}
    #botones a{
        background-color: #fff;
        padding: 12px 24px;
        border-radius: 8px;
        font-weight: 500px;
        color: hsl(340, 100%, 8%);
    }
    #botones a:hover{
        box-shadow: 0px 0px 8px #fff;
    }
#caja{
    width: 215px;
    height: 204px;
    background-color: #e4e4e4;
    border-radius: 16px;
    padding: 24px;
    transition: 500ms;
}

#parrafos{
    background-color: hsl(340, 100%, 80%);
}
    #parrafos p{
        margin: 8px;
        padding: 16px;
        border-bottom: 2px solid white;
    }